<h1>Tạo bài viết mới</h1>
<form action="/posts/store" method="POST"></form>
    <input type="text" name="title" placeholder="Tiêu đề bài viết"><br><br>
    <textarea name="body" placeholder="Nội dung bài viết"></textarea><br><br>
    <button type="submit">Lưu bài viết</button>
</form>
